
body {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Palatino", serif;
  font-size: 1.1rem;
}
p, dd, li {
  text-align: justify;
}
code {
  font-size: 80%;
  color: darkred;
}

h1.title {
  text-align: center;
}
p.author, p.date {
  text-align: center;
  font-weight: bold;
}

pre.mermaid {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
